.movie-item {
    width: 400px;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    font-family: 'Lora', serif;
}


.banner-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.item-banner {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.movie-details {
    padding: 16px 0;
}
.movie-name {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.awards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}
.award {
    color: var(--color-cool-gray);
    font-size: 12px;
}
.award--align-right {
    text-align: right;
}
